.footer {
  //background-color: $primary-color;
  //background-image: linear-gradient(to right, #434343, rgb(26, 23, 23));
  background-image: linear-gradient(to right, rgb(1, 67, 51), #3a094b);
  margin: 0px;
  height: 300px;
  width: 100%;
  padding-top: 15%;
  ul {
    flex-direction: row;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    //padding-left: 350px;
    //padding-right: 350px;
    margin: 0px;
  }
  li {
    text-decoration: none;
    list-style: none;
    margin: 0px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  .copyRight {
    margin-right: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    letter-spacing: 2px;

    p {
      text-align: left;
      width: 100%;
      margin-left: 2%;
      padding-top: 5%;
      font-size: 0.8em;
    }
  }
}
